.nav-link.nav-active {
  color: #0fcfec !important;
  border-bottom: 2px solid #0fcfec;
}
.button-style {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 17px 15px;
  border-radius: 9px;
}
.unique-text {
  color: #f36c32;
}
@media only screen and (max-width: 900px) {
  .nav-link.nav-active {
    color: #00ddff !important;
    border: none;
  }
}
